.message {
  display: flex;
  align-items: center;
}

.message > img {
  height: 50px;
  width: 50px;
  object-fit: contain;
}

.message__timestamp {
  color: gray;
  font-weight: 300;
}

.message__info {
  padding-left: 10px;
}
