.sidebar {
  background-color: var(--slack-color);
  border-top: 1px solid var(--slack-primary-color);
  max-width: 260px;
  flex: 0.3;
  color: var(--slack-secondary-color);
  overflow: auto;
}

.sidebar__header {
  display: flex;
  padding: 13px;
  border-bottom: 1px solid var(--slack-primary-color);
  padding-bottom: 10px;
}

.sidebar__info {
  flex: 1;
}

.sidebar__info > h2 {
  font-size: 15px;
  font-weight: 900;
  margin-bottom: 5px;
}

.sidebar__info > h3 {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 13px;
}

.sidebar > hr {
  margin-top: 10px;
  border: 1px solid var(--slack-primary-color);
  margin-bottom: 10px;
}

.sidebar__info > h3 > .MuiSvgIcon-root {
  font-size: 14px;
  margin-top: 1px;
  margin-right: 2px;
  color: green;
}

.sidebar__header > .MuiSvgIcon-root {
  padding: 8px;
  color: var(--slack-primary-color);
  font-size: 29px;
  background-color: var(--slack-secondary-color);
  border-radius: 999px;
}
