.login {
    display: grid;
    height: 100vh;
    background: #f8f8f8;
    place-content: center;
}

.login__container {
  padding: 100px;
  text-align: center;
  background-color: var(--slack-secondary-color);
  border-radius: 10px;
}

.login__container > img {
  object-fit: contain;
  height: 100px;
  margin-bottom: 40px;
}

.login__container > button {
  margin-top: 50px;
  text-transform: inherit !important;
  background-color: var(--slack-color);
  color: var(--slack-secondary-color);
}

.login__container > button:hover {
    background: lightgreen;
    transform: scale(1.0);
}
