.login__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 180px;
}

.login__container > img {
  object-fit: contain;
  height: 100px;
  margin-bottom: 40px;
}

.login__container > button {
  margin-top: 50px;
  text-transform: inherit !important;
  background-color: var(--slack-color);
  color: var(--slack-secondary-color);
}
