.chatinputfield {
  border-radius: 20px;
}

.chatinputfield > form {
  display: flex;
  position: relative;
  justify-content: center;
}

.chatinputfield > form > input {
  position: fixed;
  bottom: 30px;
  width: 60%;
  border: 1px solid gray;
  border-radius: 3px;
  padding: 20px;
}

.chatinputfield > form > button {
  display: none;
}
