* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --slack-color: #3f0f40;
  --slack-secondary-color: #ffffff;
  --slack-primary-color: #421f44;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}
